body {
    margin: 0;
    padding: 0;
  }
  .banner{
   margin-left: 100px;
   margin-top: 30px;
   opacity: 130%;
   
}

  .image-container {
    position: relative;
    display: inline-block; /* Ensure the container doesn't collapse */
    
  }
  
  .text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .party-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }

  .category-title{
    font-size: 70px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .category-description{
    font-size: 20px;
    text-align: center;
    color: red;
    
    margin-top: 2px;
    margin-bottom: 0px;
    
  }
  .category-title-description{
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
   
   
  }
  .new-year-photo{
    align-items: center;
    margin-left: 400px;
    margin-bottom: 100px;
  }

  .pary-section{
    position: relative;
    display: inline-block;
    display: flex;
    margin-bottom: 5px;
  }

  .pary-title{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  
  .party-banner{
    margin-left: 100px;
  }
  .party-description{
    position: absolute;
    top: 60%;
    left: 31.7%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .button{
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .new{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    
    
    padding: 10px;
   
  }