body {
    margin: 0;
    padding: 0;
   
  align-items: center;
  justify-content: center;
  }
  .banner{
   margin-left: 100px;
   margin-top: 30px;
   opacity: 130%;
   
}

  .image-container {
    position: relative;
    display: inline-block; /* Ensure the container doesn't collapse */
    
  }
  
  .text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .party-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }

  .category-title{
    font-size: 70px;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .category-description{
    font-size: 20px;
    text-align: center;
    color: red;
    
    margin-top: 2px;
    margin-bottom: 0px;
    
  }
  .category-title-description{
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
   
   
  }
  .new-year-photo{
    align-items: center;
    margin-left: 400px;
    margin-bottom: 100px;
  }

  .pary-section{
    position: relative;
    display: inline-block;
    display: flex;
    margin-bottom: 5px;
  }

  .pary-title{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  
  .party-banner{
    margin-left: 100px;
  }
  .party-description{
    position: absolute;
    top: 60%;
    left: 31.7%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .button{
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
    padding: 10px;
  }
  .new{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    
    
    padding: 10px;
   
  }

  .details{
    background-color: #FFC0CB;
    width: 87%;
    align-items: center;
    margin-left: 6.7%;
    margin-top: 100px;
    height: 300px;
    margin-bottom: 50px;
  }
  .place{
    text-align: center;
    padding-top: 50px;
    color: red;
    font-size: 25px;
    margin-bottom: 0px;
  }
  .place-strong{
    color: black;
    font-size: 25px;
  }
  .Date{
    text-align: center;
    margin-top: 5px;
   
    color: red;
    font-size: 25px;
    margin-bottom: 0px;
  }
  .Date-strong{
    color: black;
    font-size: 25px;
  }

  .Time{
    text-align: center;
   margin-top: 5px;
   
    color: red;
    font-size: 25px;
  }
  .Time-strong{
    color: black;
    font-size: 25px;
  }
  .join-btn{
   text-align: center;
   margin-left: 600px;
   padding: 10px 20px;
   font-size: 16px;
   background-color: red;
   color: white;
   font-weight: bold;
   text-decoration: none;
   border-radius: 5px;
  }


  .offer-section{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .offer-title{
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
    
  }
  .offer-title-1{
    font-size: 55px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .offer-description{
    margin-top: 10px;
    font-size:20px;
  }
  .div-1{
    margin-top: 50px;
  }
  .div-2{
    margin-left: 100px;
  }
  .offer-banner{
    height: 300px;
    border: 10px solid red;
    border-radius: 100%;
    padding: 10px;
  }
  .div-3{
    margin-left: 150px;
    margin-top: 40px;
  }

  .offer-year{
    font-size: 55px;
    color: red;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .funsion-title{
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 0px;
  }

  .funstion-sale{
    text-align: center;
    font-size: 50px;
    color: red;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .salte-strong{
    color: black;
  }

  .funsion-description{
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    color: #808080;
  }
  .sale-poster{
    display: flex;
    margin-top: 50px;

  }
  
  .gift-banner{
    height: 500px;
  }

  .circle-img{
    margin-left: -200px;
    position: absolute;
    margin-top: 30px;
  }
  .sale-div-1{
    margin-left: 200px;
  }
  .red{
    
    height: 100px;
    width: 70%;
    margin-left: 172px;
    margin-top: -200px;
    
  }

  .portfolio-section    {
    margin-top: 150px;
    margin-left: 170px;
  }

  .portfolio-title{
    font-size: 20px;
    color: red;
    margin-bottom: 0px;
  }
  .portfolio-title-name{
    font-size: 45px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 0px;

  }
  .portfolio-title-description{
    font-size: 18px;
    margin-top: 10px;
    color: #808080;
  }
  .fasion-section{
    display: flex;
    margin-top: 80px;

  }
  .fasiion img{
    height:350px;
    transition: transform 0.3s ease-in-out;
  }
  .fasiion img:hover{
    transform: scale(1.1);
  }

  .fasion-2{
    margin-left: 30px;
    margin-right: 30px;
    
  }
  .fasion-section-2{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .subscribe-section{
    background-color: #FFC0CB;
    width: 87%;
    align-items: center;
    margin-left: 6.7%;
    margin-top: 100px;
    height: 500px;
    margin-bottom: 50px;
  }
  .email{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    margin-top: 50px;
  }
  .subscribe-title{
    text-align: center;
    margin-top: 5px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .subscribe-description{
    text-align: center;
    padding: 0 100px;
    margin-top: 10px;
    color: #808080;
  }
  .email-field{
    margin-left: 400px;
    border-radius: 2%;
    margin-top: 20px;
  }

  .footer{
    background-color: rgb(0, 0, 24);
    width: 87%;
    align-items: center;
    margin-left: 6.7%;
    margin-top: 100px;
    height: 400px;
    margin-bottom: 0px;
    
  }
  .footer-title{
    display: flex;
    justify-content: space-between;
  }
  .title-1{
    font-size: 20px;
    color: white;
    padding: 60px 100px;
  }

  .title-2{
    font-size: 20px;
    color: white;
    padding: 50px 100px;
  }
  .line{
    color: #808080;
    
  }
  .social{
    margin-left: 550px;
    margin-top: 20px;
    
  }
  .social img{
   height: 40px;
  }